<!DOCTYPE html>
<html>
  <head>
    <title>Negros.dev - {% block title %} {% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/uikit.min.css" />
    <link rel="stylesheet" href="/css/app.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="site">
    <main class="site-container">
      {% block menu %} {% endblock %}
      {% block content %} {% endblock %}
    </main>

    {% include 'footer.jinja' %}
  </body>
</html>
