{% extends 'base.jinja' %}

{% block title %} {{ course.titulo }} {% endblock %}

{% from 'components/menu.jinja' import menu_component %}

{% block menu %} 
  {{ menu_component('course')  }}
{% endblock %}

{% block content %} 
<section class="uk-section">
  <div class="uk-container uk-container-xlarge">
    <div class="uk-child-width-1-1@m uk-text-large" uk-grid>
      <div>
        <div class="uk-child-width-1-2@m" uk-grid>
          <div>
            <h3 class="uk-margin-medium-bottom uk-text-uppercase">
             {{ course.titulo }}
            </h3>
          </div>
          <div class="uk-text-right downloads">
            <a href="{{ course.codigo_fonte }}" class="uk-button uk-button-purple uk-icon">
              <i uk-icon="download"></i>
              <span>Código Fonte</span>
            </a>
            <a 
              href="{{ course.aula }}" 
              type="application/mp4" 
              download 
              class="uk-button uk-button-rose uk-icon"
              title="Quando a página abrir salve usando o CTRL + S do teclado.">
              <i uk-icon="download"></i>
              <span>Treinamento</span>
            </a>
          </div>
        </div>
        <div uk-grid class="uk-grid-match">
          <div class="uk-width-expand@m">
            <div class="uk-card uk-card-body uk-padding-remove">
              <video
                class="uk-background-rose"
                controls
                width="100%"
                height="780px"
                poster="{{ course.aula_thumbnail }}"
              >
                <source
                  src="{{ course.aula }}"
                  type="video/mp4"
                />                
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}